<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<p>Bonjour !</p>
	<p>Vous avez récemment publié une annonce sur <a href="http://www.passionrunning.com">Passion Running</a>. Lorsque votre annonce sera validée, elle sera visible pendant 180 jours sur le site, vous pouvez la supprimer ou la modifier en vous connectant à votre espace grâce à votre email et votre mot de passe. Pour confirmer votre annonce <a href="{{ link }}">suivez ce lien.</a></p>
	<p>Merci !</p>
	<p>- L'équipe Passion Running</p>
</body>
</html>