<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<p>Bonjour !</p>
	<p>Vous avez récemment publié une annonce sur <a href="http://www.passionrunning.com">Passion Running</a>. Pour confirmer votre annonce <a href="{{ link }}">suivez ce lien.</a></p>
	<p>Merci !</p>
	<p>- L'équipe Passion Running</p>
</body>
</html>