<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<p>Bonjour Davy !</p>
	<p>Une annonce vient d'être publiée sur <a href="http://www.passionrunning.com">Passion Running</a>. Pour la valider, <a href="http://annonces.passionrunning.com/admin" >va à l'interface administrative.</a></p>
	<p>Merci !</p>
	<p>- L'équipe Passion Running</p>
</body>
</html>