<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<p>Bonjour !</p>
	<p>Vous avez un nouveau message :</p>
	<p>{{ text }}</p>
	<p>Merci !</p>
	<p>- L'équipe Passion Running</p>
</body>
</html>