<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<p>Bonjour !</p>
	<p>Vous avez récemment demandé un nouveau mot de passe sur <a href="http://www.passionrunning.com">Passion Running</a>.</p>
	<p>Nouveau mot de passe : {{password}}</p>
	<p>Merci !</p>
	<p>- L'équipe Passion Running</p>
</body>
</html>