body{
	
	
	background:url(../images/body-bg5.png) repeat;
	
	font-family: 'Arial', serif;
		
}


.right{float: right;}
.left{float: left;}



#header { width:100%; background-color: #FFFFFF;  display: block; height:112px; padding-top: 0px; padding-bottom: 10px; text-align: center;}

#header .logo{margin-top: 10px;}
#header .header{width: 990px; margin-left: auto; margin-right: auto; display: block; position: relative;}

#header .connexion{ padding-left: 10px; padding-right: 10px; position: absolute; right: 0px; top:0px; background: rgba(235, 103, 7, 1); width:280px; height: 90px; display: block; font-size: 12px;  color: #ffffff; text-align: left; }


#header h2{font-size: 18px;  font-weight: 700; color: #FFFFFF;}

#header input:not([type=submit]){
  background: #ffffff;
  border: none;
  font: normal 13px;
  outline: none;
  padding: 5px;
  width: 100px;
  height: 12px;
  margin: 3px;
 
}

#header a{color:#ffffff; text-decoration: underline; }

#header a:hover{color:#ffffff; font-style: italic;}




#header button{width:34px; height: 22px; background-color: #dbc330; color: #ffffff; border: none;}

#header button:hover{background-color: #356309;}









#nav {width:100%; height:47px; display: block;  background:url(../images/bg-nav.jpg) repeat; font-family: 'Yanone Kaffeesatz', sans-serif;  }

#nav .nav {margin:0 auto; width:990px;  display: block;  padding-top: 7px; height:40px; position:relative;  }

#nav .nav ul {margin:0;  padding:0; list-style-type: none;}

#nav .nav ul li {  font-size: 22px; font-weight: normal; float:left; margin-right: 20px; text-align: center; }

#nav .btnboutique{background:url(../images/fond-btn-boutique.png) no-repeat; display: block; width: 111px; height: 32px; }

#nav .nav ul li a {padding:2px; padding-left: 10px; padding-right: 10px; color:#ffffff;  text-decoration:none; }


#nav .nav ul li a:hover{color:#ffffff; font-style: italic;}
#nav .nav ul li:hover {color:#ffffff;  }


#nav ul li.on {color:#ffffff; font-style: italic; font-weight: bold;}

#nav ul li.selectedbis {color:#ffffff; }



#nav .nav ul li ul { background-color: #eb6707;  display:none; width: 180px; margin-left: 0; z-index:20000;}


#nav .nav ul li ul li {width: 180px;   text-align: left; height: 20px;  }

#nav .nav ul li ul li a {display: block; padding:0; padding-left: 5px; font-size:16px; color: #ffffff; text-transform: none;  text-decoration:none;  font-weight: normal;
}

#nav .nav ul li ul li a:hover { color: #ffffff; display: block; padding:0; padding-left: 5px;height: 20px; }

#nav .nav ul li:hover ul {  display:block;  }

#nav .nav li:hover ul li { float:none; }
#nav .nav li ul { position:absolute; }



#nav .nav ul li:hover > ul{
  -webkit-animation: moveFromBottom 300ms ease;
  -moz-animation: moveFromBottom 300ms ease;
  -ms-animation: moveFromBottom 300ms ease;
}



/*
Ajout des transitions
*/
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(200%) scale(0.5) translateZ(1px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%) scale(1) translateZ(1px);
    opacity: 1;
  }
}
@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(200%) scale(0.5) translateZ(1px);
    opacity: 0;
  }
  to {
    -moz-transform: translateY(0%) scale(1) translateZ(1px);
    opacity: 1;
  }
}


@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(200%) scale(0.5) translateZ(1px);
    opacity: 0;
  }
  to {
    -ms-transform: translateY(0%) scale(1) translateZ(1px);
    opacity: 1;
  }
}


#nav .nav ul li:hover > ul{
  -webkit-animation: moveFromBottom 300ms ease;
  -moz-animation: moveFromBottom 300ms ease;
  -ms-animation: moveFromBottom 300ms ease;
}



#nav .last { margin-right: 0; }

#arbo{width:100%;  margin:10px auto; background-color: #f9f9f9;  display: block; padding: 2px;   position:relative; height:auto;}


.arbo { width:990px; margin:0px auto; display: block;  z-index:10; font-size: 11px;}




a{ color:#1698de; text-decoration: none; }

a:hover{ color: #333333; text-decoration:underline;}

small{color: #666666; text-transform: lowercase; font-size: 11px;}



#rubrique{  margin:10px auto; width:990px; display: block; height:auto; z-index:10; overflow:hidden;  position:relative; 
  }
  
  
  
#rubrique #gauche{width: 640px; margin: 5px; float: left; background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 2px #B5B5B5;
    padding: 4px;}
    
    
    /* ANNONCES */
    
    
    #rubrique #gauche .blocannonce{ width: 580px; height: 120px; display: block; margin-right: auto; margin-left: auto; border-bottom: 1px solid #888; padding: 10px; margin-top: 10px; margin-bottom: 10px;}
     #rubrique #gauche .blocannonce:hover{cursor: pointer; background-color: #EEE;}
    
  #rubrique #gauche .imgliste{width: 160px; height: 120px;}
  
   #rubrique #gauche .dateannonce{width: 110px; float: left; font-size: 12px; color: #888;}
      #rubrique #gauche .photoannonce{width: 170px; float: left;}
   
  #rubrique #gauche .contenuannonce{width: 300px; float: left; color: #333; font-size: 14px;}
  
  #rubrique #gauche .titreannonce{font-weight: normal; font-size: 24px; font-family: 'Yanone Kaffeesatz', sans-serif; color: #1698de; display: block;}
  
  #rubrique #gauche .prixannonce{display: block; font-weight: bold; font-size: 18px;}
  
   #rubrique #gauche .detaildateannonce{font-size: 12px; margin-top: 10px; color: #333; width: 580px; margin-left: auto; margin-right: auto; display: block;}
    
    #rubrique #gauche .detailtitreannonce{font-weight: normal; font-size: 36px; font-family: 'Yanone Kaffeesatz', sans-serif; color: #1698de; display: block; width: 580px; margin-right: auto; margin-left: auto;}
    
    
   #rubrique #gauche .detailcontenuannonce{margin-top: 10px; margin-bottom: 10px; border-bottom: 1px solid #EEE; border-top: 1px solid #EEE; padding: 10px; width: 560px; margin-left: auto; margin-right: auto; display: block; }
    
    
    #rubrique #gauche .detaildescription{margin-top: 10px; margin-bottom: 10px; padding: 10px; width: 560px; margin-left: auto; margin-right: auto; display: block;}
    
   #rubrique #gauche .detailprixannonce{font-size: 18px; color: #eb6707; font-weight: bold;}
   
      #rubrique #gauche .imgbig{width: 580px; display: block; margin-left: auto; margin-right: auto; border: 5px solid #EEE;}
    
    
    
    
    
    
#rubrique #droite{width: 300px; margin: 5px; margin-left: 15px; float: left; background: none repeat scroll 0 0 #FFFFFF; box-shadow: 0 0 2px #B5B5B5;
    padding: 4px; padding-bottom: 20px;}       



#droite .btnrepondre{width: 200px; padding-left: 25px; padding-right: 25px; padding-top: 25px; display: block; height: 58px; margin-right: auto; margin-left: auto; margin-top: 20px; margin-bottom: 20px; background-color: #eb6707; color: #FFFFFF; font-weight: bold; text-transform: uppercase; text-align: center;   -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

#droite .btnrepondre:hover{opacity: 0.7; cursor: pointer;}


#droite .btntelephone{width: 200px; padding-left: 25px; padding-right: 25px; padding-top: 25px; display: block; height: 58px; margin-right: auto; margin-left: auto; margin-bottom: 20px; background-color: #eb6707; color: #FFFFFF; font-weight: bold; text-transform: uppercase; text-align: center; -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px; }
  
  
#droite .btntelephone:hover{opacity: 0.7; cursor: pointer;}
#droite label {
float: left;
  font-size: 14px;
  width: 80px;
  display:block;
  padding-top: 5px;

}

#droite input:not([type="checkbox"]),
#droite textarea {
  background: #ffffff;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: italic 14px;
  outline: none;
  padding: 3px;
  width: 140px;
  margin: 3px;
  border: 1px solid #ccc;
}
#gauche textarea{height: 120px;}













   
#rubrique a{color:#333333; text-decoration: none; }

#rubrique a:hover{ color:#1698de; text-decoration: none;}
   
#rubrique h1{font-weight: normal; font-size: 36px; font-family: 'Yanone Kaffeesatz', sans-serif; color: #1698de;}


#rubrique h2{font-weight: normal; font-size: 36px; font-family: 'Yanone Kaffeesatz', sans-serif; color: #1698de; margin-bottom: 10px;}




#partagez{width: 640px; display: block; margin-top: 20px; margin-bottom: 20px; overflow: hidden; border-bottom: 5px solid #1698de; background-color: #eeeeee;}
#partagez .fondbleu{background-color:#1698de; color: #ffffff; font-weight: bold;}
.partage{float: left; margin-right: 25px; padding: 10px;}




.titre-top {
    padding: 5px 0;
    margin-bottom: 5px;
    margin-top: 15px;
}
.stripe-line {
    background: url("../images/stripe.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 12px;
    margin-top: 5px;
    overflow: hidden;
}

.titre-top h4 {
    float: left;
    padding-top: 3px;
    color: #333333;
    font-weight: normal
    letter-spacing: 0.2px;
    font-size: 14px;
    margin-right: 10px;
    text-transform: uppercase;
}


#droite .ligne{display: block; margin-bottom: 3px;}


#gauche label{
float: left;
  font-size: 14px;
  width: 150px;
  display:block;
  padding-top: 5px;

}


#gauche input [type=file]
#gauche input:not([type="checkbox"]),
#gauche textarea {
  background: #ffffff;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: italic 14px;
  outline: none;
  padding: 5px;
  width: 300px;
  margin: 3px;
  border: 1px solid #ccc;
}
#gauche input [type=file]{border: none; margin-top: 5px;}

#gauche input:not([type=submit]):focus,
#gauche textarea:focus {
  background: #a8c3cf;
}


#gauche textarea{height: 120px;}


#gauche input:not([type=submit]):focus,
#gauche textarea:focus {
  background: #a8c3cf;
}



#gauche button {
	
  background: #4f4e4f;
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  display: block;
  font: 18px Arial;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px #000000;
  text-transform: uppercase;
  margin-top: 20px;
	margin-bottom: 20px;
}


#gauche button:hover {
  background: #1e2506;
  cursor: pointer;
}




#gauche .ligne{display: block; margin-bottom: 3px; font-size: 11px;}




#gauche .file{
	border: none;
	}


#search{
  margin-bottom: 2em;
}

#categories{
  margin-bottom: 2em;
}


#footer{ width:100%; background-color: #1698de; height: 130px; padding-top: 10px;  border-top: 5px solid #db6721; }


#footer .footer{width: 990px; color: #ffffff; font-size: 12px; display: block; text-align: center; margin-right: auto; margin-left: auto; font-weight: normal;}


#motdepasseoublie{
	margin-right: auto;
	margin-left: auto;
	display: block; 
	width: 400px;
	height: 400px;
	background-color: #ffffff;
	z-index: 10000;
	padding: 10px;
	//display: none;
	}


#motdepasseoublie .fermeture{position: absolute; right: 15px; top: 10px; color: #1698de; font-size: 24px;  font-family: 'Yanone Kaffeesatz', sans-serif; }
#motdepasseoublie .fermeture a{color: #1698de; text-decoration: none;}
#motdepasseoublie .fermeture a:hover{color: #1698de; text-decoration: none;}
#motdepasseoublie h2{margin-top: 30px; color: #1698de; font-size: 30px;  font-family: 'Yanone Kaffeesatz', sans-serif;  margin-bottom: 20px;}

#motdepasseoublie .grandchamp{ background: #ffffff;
  border: 1px solid #abadba;
  font: normal 16px;
  outline: none;
  padding: 5px;
  width: 382px;
  height: 25px;
  margin: 3px;
  color: #abadba;
}
#motdepasseoublie .grandchamp:focus{color: #333333;}

#motdepasseoublie .petitchamp{ background: #ffffff;
   border: 1px solid #abadba;
  font: normal 16px;
  outline: none;
  padding: 5px;
  width: 180px;
  height: 25px;
  margin: 3px;
  color: #abadba;
}
#motdepasseoublie .petitchamp:focus{color: #333333;}

#motdepasseoublie button{
	  width: 400px;
	  margin-top: 10px;
	  border: none;
	  background-color: #1698de;
	  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
color: #ffffff;
font-size: 24px;
font-family: 'Roboto Condensed', sans-serif;
	}

#motdepasseoublie button:hover{background-color: #1698de; cursor: pointer;}

#reponse{
	margin-right: auto;
	margin-left: auto;
	display: block; 
	width: 400px;
	height: 400px;
	background-color: #ffffff;
	
	z-index: 10000;
	padding: 10px;
	//display:none;
	}

#reponse .fermeture{position: absolute; right: 15px; top: 10px; color: #1698de; font-size: 24px;  font-family: 'Yanone Kaffeesatz', sans-serif; }
#reponse .fermeture a{color: #1698de; text-decoration: none;}
#reponse .fermeture a:hover{color: #1698de; text-decoration: none;}
#reponse h2{margin-top: 30px; color: #1698de; font-size: 30px;  font-family: 'Yanone Kaffeesatz', sans-serif;  margin-bottom: 20px;}

#reponse .grandchamp{ background: #ffffff;
  border: 1px solid #abadba;
  font: normal 16px;
  outline: none;
  padding: 5px;
  width: 382px;
  height: 25px;
  margin: 3px;
  color: #abadba;
}

#reponse textarea{background: #ffffff;
  border: 1px solid #abadba;
  font: normal 16px;
  
  outline: none;
  padding: 5px;
  width: 382px;
  height: 150px;
   margin: 3px;
  color: #333333;
 
}


#reponse .grandchamp:focus{color: #333333;}

#reponse .petitchamp{ background: #ffffff;
   border: 1px solid #abadba;
  font: normal 16px;
  outline: none;
  padding: 5px;
  width: 180px;
  height: 25px;
  margin: 3px;
  color: #abadba;
}
#reponse .petitchamp:focus{color: #333333;}

#reponse button{
	  width: 400px;
	  margin-top: 10px;
	  border: none;
	  background-color: #1698de;
	  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
color: #ffffff;
font-size: 24px;
font-family: 'Roboto Condensed', sans-serif;
	}

#reponse button:hover{background-color: #1698de; cursor: pointer;}

#supprimer{
  margin-right: auto;
  margin-left: auto;
  display: block; 
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  z-index: 10000;
  padding: 10px;
  //display: none;
  }


#supprimer .fermeture{position: absolute; right: 15px; top: 10px; color: #1698de; font-size: 24px;  font-family: 'Yanone Kaffeesatz', sans-serif; }
#supprimer .fermeture a{color: #1698de; text-decoration: none;}
#supprimer .fermeture a:hover{color: #1698de; text-decoration: none;}
#supprimer h2{margin-top: 30px; color: #1698de; font-size: 30px;  font-family: 'Yanone Kaffeesatz', sans-serif;  margin-bottom: 20px;}

#supprimer button{
  width: 400px;
  margin-top: 10px;
  border: none;
  background-color: #1698de;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}

#supprimer button:hover{background-color: #1698de; cursor: pointer;}

.check{
  display: none;
  font-size: 14px;
  font-weight: bold;
  margin-left: 4px;
  color: #6FD45D;
}

.ng-valid.ng-dirty + .check {

  display: inline-block;
}

.error{
  color: #ff494e;
  text-align: center;
}

.flash {
  margin:10px auto;
  width:990px;
  background: #cee5f5;
  padding: 0.5em;
  border: solid 1px #aacbe2;
}

#flash {
  margin:10px auto;
  width:990px;
  background: #cee5f5;
  padding: 0.5em;
  border: solid 1px #aacbe2;
}