<div id="rubrique">
	<!--gauche-->
	<div id="gauche">
	<h2>Merci !!!</h2>

	Vous venez de modifer une annonce sur passionrunning.com<br /><br />
	Vous allez recevoir dans quelques instant un email contenant un lien de validation sur votre adresse email. Cliquez sur le lien pour valider votre annonce.<br /><br />

	Lorsque votre annonce sera validée, elle sera visible pendant 180 jours sur le site, vous pouvez la supprimer ou la modifier en vous connectant à votre espace grâce à votre email et votre mot de passe.
	</div><!--//gauche-->

	<!--droite-->
	<div id="droite">

	</div>
	<!--//droite-->
</div><!--.rubrique-->