<div ng-controller="AnnonceCtrl">
    <div id="reponse" rel="reponse">
        <div class="fermeture"><a  href close-colorbox>X</a></div>
        <h2>Répondre à l'annonce</h2>
        <h2>{{annonce.titre}}</h2>
        <div class="formulaire">
            <input type="text" class="grandchamp" placeholder="Votre email" required />
            <textarea  placeholder="Mon message" required>Description de l'Annonce + prix</textarea>
            <button>Envoyer mon message</button>
        </div>
    </div>
</div>