<div ng-controller="AnnonceCtrl">
    <div id="reponse" rel="reponse">
        <div class="fermeture"><a  href close-colorbox>X</a></div>
        <h2>Répondre à l'annonce</h2>
        <h2>{{annonce.titre}}</h2>
        <div class="formulaire">
            <form ng-submit="sendResponse()" novalidate>
                <input ng-model="response.email" type="email" class="grandchamp" placeholder="Votre email" required />
                <textarea ng-model="response.text" placeholder="Mon message" required></textarea>
                <button type="submit">Envoyer mon message</button>
            </form>
        </div>
    </div>
</div>